@use 'extras' as e;

@media screen and (min-width: 20rem) {
    .buttons {
        @include e.flex(.9375rem, column, unset);
        margin: 1.875rem 0 0;
    }

    .reserve {
        background-color: e.$prim-col;
        color: #fff;
        display: block;
        font-size: 1.125rem;
        font-weight: 900;
        transition: transform linear 0.2s;

        &:hover {
            transform: scale(1.05)
        }
    }

    .orderOnlineBtn {
        font-size: 1rem;
        transition: background-color linear 0.2s;
        font-weight: 500;

        &:hover {
            color: #fff;
            background-color: e.$prim-col;
        }
    }

    .reserve,
    .orderOnlineBtn {
        width: 100%;
        border: none;
        padding: 1.0625rem 0;
        border-radius: 3.125rem;
    }

    nav {
        @include e.flex (unset, row, center);
        justify-content: space-between;
        padding: 1.0625rem .9375rem 0;

        div {
            height: 2.8125rem;
            width: 2.8125rem;
            background-color: e.$prim-col;
            border-radius: 50%;
            @include e.flex(unset, unset, center);
            justify-content: center;
        }
    }

    .first-section {
        margin-top: 6.25rem;
        padding: .625rem 1.25rem 0;
        @include e.flex(1.25rem, column, unset);

        h1 {
            font-size: 2.25rem;
            text-align: start;

            span {
                color: e.$prim-col;
            }
        }

        p {
            line-height: 1.6;
        }

        .hero-img-wrapper {
            margin: 1.875rem 0 0;

            .hero-img {
                width: 100%;
                transform: rotate(-2deg);
                border-radius: 5%;
                transition: transform linear 0.1s;
                animation: heroAnim 1s;
            }

            div {
                background-color: e.$prim-col;
                position: absolute;
                z-index: -1;
                top: 135%;
                right: 0%;
                padding: 14.0625rem 0 0;
                left: 0%;
            }
        }

        .order-online {
            margin: 11.25rem 0 0;

            h2 {
                font-size: 1.5rem;
            }

            .apps-wrapper {
                @include e.flex (2rem, column, center);
                margin: 3.125rem 0 6.25rem;

                img {
                    height: 1.6875rem;
                    transition: all ease 0.2s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    .menu {
        padding: 0 0 5rem;

        hr {
            width: 80%;
            border: .0625rem solid #e8e8e8;
            margin: 0 auto 0;
        }

        h2 {
            margin: 5rem 0 3.125rem;
        }

        .buttons {
            margin: 1.875rem auto 0;
            width: 90%;
        }
    }

    .cards {
        padding: 0 .625rem;
        @include e.flex (1.875rem, column, unset);

        .card {
            border: 1px solid #e8e8e8;
            padding: 3.125rem 1.25rem;
            border-radius: 1.25rem;
            text-align: center;
            @include e.flex(1.25rem, column, center);

            p {
                line-height: 1.6;
            }

            a {
                @include e.flex(.3125rem, unset, center);
                transition: transform ease 0.15s;

                &:hover {
                    transform: scale(1.09);
                }
            }
        }
    }

    @keyframes heroAnim {
        0% {
            transform: rotate(0deg);
            opacity: 0;
        }

        100% {
            transform: rotate(-2deg);
            opacity: 1;
        }
    }
}