@use 'extras' as e;

@media screen and (min-width: 20rem) {
    .logo {
        transition: transform linear 0.2s;

        &:hover {
            transform: scale(1.06)
        }
    }

    .buttons {
        @include e.flex(.9375rem, column, unset);
        margin: 1.875rem 0 0;
    }

    .btn-primary {
        background-color: e.$prim-col;
        color: #fff;
        display: block;
        font-size: 1.125rem;
        font-weight: 900;

        &:hover {
            transform: scale(1.05)
        }
    }

    .btn-secondary {
        font-size: 1rem;
        transition: background-color linear 0.2s;
        font-weight: 500;

        &:hover {
            color: #fff;
            background-color: e.$prim-col;
            transform: scale(1.02);
        }
    }

    .btn-primary,
    .btn-secondary {
        width: 100%;
        border: none;
        padding: 1.0625rem 0;
        border-radius: 3.125rem;
        transition: transform linear 0.2s;
    }

    nav {
        @include e.flex (unset, row, center);
        justify-content: space-between;
        padding: 1.0625rem .9375rem 0;
    }

    .logo {
        z-index: 1;
    }

    .hamBtn-wrapper {
        z-index: 1;
        cursor: pointer;
        height: 2.8125rem;
        width: 2.8125rem;
        background-color: e.$prim-col;
        border-radius: 50%;
        @include e.flex(unset, unset, center);
        justify-content: center;
        transition: transform linear 0.2s;

        &:hover {
            transform: scale(1.05);
        }

        img {
            height: 23px;
        }
    }

    .nav-links {
        display: none;
        position: absolute;
        background: #fff;
        width: 100%;
        transition: all linear 0.3s;
        left: 0;
        padding: 15rem 0 1.25rem .9375rem;
        box-shadow: 0px 16px 90px 5px rgba(0, 0, 0, 0.14),
            0px 30px 30px 10px rgba(0, 0, 0, 0.12),
            0px 10px 90px -7px rgba(0, 0, 0, 0.2);

        ul {
            @include e.flex(1.25rem, column, unset);
        }
    }

    .nav-link {
        a {
            color: e.$sec-color;
            font-weight: 500;
            font-size: 1.25rem;
        }
    }

    .first-section {
        margin-top: 6.25rem;
        padding: .625rem 1.25rem 0;
        @include e.flex(1.25rem, column, unset);

        h1 {
            font-size: 2.25rem;
            text-align: start;

            span {
                color: e.$prim-col;
            }
        }

        .hero-img-wrapper {
            margin: 1.875rem 0 0;

            .hero-img {
                width: 100%;
                transform: rotate(-2deg);
                border-radius: 5%;
                transition: transform linear 0.1s;
                animation: heroAnim 1s;
            }

            div {
                background-color: e.$prim-col;
                position: absolute;
                z-index: -1;
                top: 53.625rem;
                right: 0%;
                padding: 14.0625rem 0 0;
                left: 0%;
            }
        }

        .order-online {
            margin: 11.25rem 0 0;

            h2 {
                font-size: 1.5rem;
            }

            .apps-wrapper {
                @include e.flex (2rem, column, center);
                margin: 3.125rem 0 6.25rem;

                img {
                    height: 1.6875rem;
                    transition: all ease 0.2s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    .menu {
        padding: 0 0 6.25rem;

        hr {
            width: 80%;
            border: .0625rem solid #e8e8e8;
            margin: 0 auto 0;
        }

        h2 {
            margin: 5rem 0 3.125rem;
            text-align: center;
        }

        .buttons {
            margin: 1.875rem auto 0;
            width: 90%;
        }
    }

    .cards {
        padding: 0 .625rem;
        @include e.flex (1.875rem, column, unset);

        .card {
            border: 1px solid #e8e8e8;
            padding: 3.125rem 1.25rem;
            border-radius: 1.25rem;
            text-align: center;
            @include e.flex(1.25rem, column, center);

            a {
                @include e.flex(.3125rem, unset, center);
                transition: transform ease 0.15s;

                &:hover {
                    transform: scale(1.09);
                }
            }
        }
    }

    @keyframes heroAnim {
        0% {
            transform: rotate(0deg);
            opacity: 0;
        }

        100% {
            transform: rotate(-2deg);
            opacity: 1;
        }
    }

    .contact,
    .about-us {
        background-color: #fff9f3;
    }

    .about-us {
        padding: 80px .9375rem 3.125rem;
        @include e.flex(1.5625rem, column, unset);
    }

    .contact {
        padding: 0 .9375rem 0;

        img {
            border-radius: 1.25rem;
            width: 100%;
        }

        .texts {
            margin: 1.875rem 0 0;
            padding: 0 0 3.125rem;
            @include e.flex(1.5625rem, column, unset);

            img {
                width: unset;
                border-radius: unset;
            }

            .info {
                @include e.flex(.4375rem, column, baseline);
            }

            a {
                color: #696969;
                transition: color linear 0.3s;
            }

            .phone,
            .mail {
                &:hover a {
                    color: e.$prim-col;
                }
            }
        }
    }

    .menu-overview {
        padding: 3.125rem .9375rem 0;

        h2,
        p {
            text-align: center;
            margin: 0 auto;
        }

        p {
            margin: .9375rem 0 0;
        }

        .buttons {
            margin: 2.5rem 0 5rem;
        }
    }

    .menu-cards-wrapper {
        margin: 3.125rem 0 0;
        @include e.flex (3.75rem, column, unset);
    }

    .menu-card {
        display: flex;
        flex-direction: column;
        gap: .9375rem;

        button {
            position: absolute;
            align-self: flex-end;
            font-weight: 900;
            color: e.$sec-color;
            background-color: #fff;
            border: none;
            padding: .625rem 1.25rem;
            border-radius: 3.125rem;
            margin: .9375rem .625rem 0 0;
            transition: all ease 0.8s;
            z-index: 1;
        }

        img {
            width: 100%;
            border-radius: 1.25rem;
            transition: transform ease-in-out 0.2s;
        }

        h3 {
            text-align: center;
            font-size: 1.4375rem;
            margin: .625rem 0 0;
        }

        p {
            margin: 0;
        }

        &:hover button {
            color: #fff;
            background-color: e.$sec-color;
        }

        &:hover h3 {
            color: e.$prim-col;
        }

        &:hover img {
            transform: scale3d(1.03, 1.03, 1);
        }
    }

    .extra-ad {
        background-color: e.$prim-col;
        color: #fff;
        padding: 5.625rem .9375rem 1.875rem;

        hr {
            border: 1px solid #fff;
            width: 30%;
        }

        h1 {
            width: 90%;
            margin: 3.125rem 0 1.5625rem;
        }

        p {
            color: #fff;
        }

        .buttons {
            margin: 3.125rem 0 0;
        }

        .btn-primary {
            background-color: #fff;
            color: e.$sec-color;

            &:hover {
                color: e.$prim-col;
            }
        }

        .btn-secondary {
            background-color: unset;
            border: 1px solid #fff;
            color: #fff;

            &:hover {
                background-color: e.$sec-color;
                border: 1px solid e.$sec-color;
            }
        }
    }

    .floor-burger {
        width: 100%;
        padding: 0 0 3.125rem;
        background-color: e.$prim-col;
    }

    .horizRule {
        border: 1px solid #e8e8e8;
        margin: 6.25rem auto 6.25rem;
        width: 90%;
    }

    footer {
        padding: 1.875rem .9375rem 0;
    }

    .promotion {
        @include e.flex(1.4375rem, column, baseline)
    }

    .socials {
        @include e.flex(0.9375rem, unset, unset);

        a {
            background-color: e.$prim-col;
            border-radius: 3.125rem;
            display: flex;
            padding: .625rem;
            transition: transform linear 0.3s;

            &:hover {
                background-color: e.$sec-color;
                transform: scale(1.1);
            }

            img {
                height: 18px;
            }
        }
    }

    .credits {
        margin: 3.125rem 0 0;

        .acknowledgment {
            font-size: .75rem;
            margin: .625rem 0 0;
        }
    }
}