@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
}

p {
  color: #696969;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #ff7629;
}

@media screen and (min-width: 20rem) {
  .buttons {
    display: flex;
    gap: 0.9375rem;
    flex-direction: column;
    align-items: unset;
    margin: 1.875rem 0 0;
  }

  .reserve {
    background-color: #ff7629;
    color: #fff;
    display: block;
    font-size: 1.125rem;
    font-weight: 900;
    transition: transform linear 0.2s;
  }
  .reserve:hover {
    transform: scale(1.05);
  }

  .orderOnlineBtn {
    font-size: 1rem;
    transition: background-color linear 0.2s;
    font-weight: 500;
  }
  .orderOnlineBtn:hover {
    color: #fff;
    background-color: #ff7629;
  }

  .reserve,
.orderOnlineBtn {
    width: 100%;
    border: none;
    padding: 1.0625rem 0;
    border-radius: 3.125rem;
  }

  nav {
    display: flex;
    gap: unset;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.0625rem 0.9375rem 0;
  }
  nav div {
    height: 2.8125rem;
    width: 2.8125rem;
    background-color: #ff7629;
    border-radius: 50%;
    display: flex;
    gap: unset;
    flex-direction: unset;
    align-items: center;
    justify-content: center;
  }

  .first-section {
    margin-top: 6.25rem;
    padding: 0.625rem 1.25rem 0;
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
    align-items: unset;
  }
  .first-section h1 {
    font-size: 2.25rem;
    text-align: start;
  }
  .first-section h1 span {
    color: #ff7629;
  }
  .first-section p {
    line-height: 1.6;
  }
  .first-section .hero-img-wrapper {
    margin: 1.875rem 0 0;
  }
  .first-section .hero-img-wrapper .hero-img {
    width: 100%;
    transform: rotate(-2deg);
    border-radius: 5%;
    transition: transform linear 0.1s;
    animation: heroAnim 1s;
  }
  .first-section .hero-img-wrapper div {
    background-color: #ff7629;
    position: absolute;
    z-index: -1;
    top: 135%;
    right: 0%;
    padding: 14.0625rem 0 0;
    left: 0%;
  }
  .first-section .order-online {
    margin: 11.25rem 0 0;
  }
  .first-section .order-online h2 {
    font-size: 1.5rem;
  }
  .first-section .order-online .apps-wrapper {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    margin: 3.125rem 0 6.25rem;
  }
  .first-section .order-online .apps-wrapper img {
    height: 1.6875rem;
    transition: all ease 0.2s;
  }
  .first-section .order-online .apps-wrapper img:hover {
    transform: scale(1.1);
  }

  .menu {
    padding: 0 0 5rem;
  }
  .menu hr {
    width: 80%;
    border: 0.0625rem solid #e8e8e8;
    margin: 0 auto 0;
  }
  .menu h2 {
    margin: 5rem 0 3.125rem;
  }
  .menu .buttons {
    margin: 1.875rem auto 0;
    width: 90%;
  }

  .cards {
    padding: 0 0.625rem;
    display: flex;
    gap: 1.875rem;
    flex-direction: column;
    align-items: unset;
  }
  .cards .card {
    border: 1px solid #e8e8e8;
    padding: 3.125rem 1.25rem;
    border-radius: 1.25rem;
    text-align: center;
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
    align-items: center;
  }
  .cards .card p {
    line-height: 1.6;
  }
  .cards .card a {
    display: flex;
    gap: 0.3125rem;
    flex-direction: unset;
    align-items: center;
    transition: transform ease 0.15s;
  }
  .cards .card a:hover {
    transform: scale(1.09);
  }

  @keyframes heroAnim {
    0% {
      transform: rotate(0deg);
      opacity: 0;
    }
    100% {
      transform: rotate(-2deg);
      opacity: 1;
    }
  }
}
